# UI
kivy==2.3.0
pillow==10.2.0

# Camera
picamera2

# Sensors (real hardware)
adafruit-blinka
adafruit-circuitpython-mcp3xxx
adafruit-circuitpython-dht

# Network - BLE
dbus-next

# Network - WiFi
netifaces
flask
requests

# Utilities
qrcode
python-dotenv
